 
 
 body, html{
  background-color: rgb(15, 15, 15);
  margin: 0;
  padding:0;
  min-height: 100%;
 
  
}
body {
padding: 0;
margin: 0;

}

.fami h3{
color: rgb(22, 21, 21);

}
.planom{
top: 10px;
position: relative;
color: #eceaea;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
left: 35px;
text-align: center;

}
.TesteG{
text-align: center;

}
.cartao h5{
text-align: center;
}
.cartao2 h5{
  text-align: center;
}
.cartao3 h5{
  text-align: center;
}
.cartao{
top: 150px;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
position: absolute;
opacity: 100%;
width: 250px;
height: 450px;
border-radius: 20px;
background: linear-gradient(90deg, rgb(189, 5, 235) 0%, rgba(9,9,121,1) 35%, rgb(30, 31, 31) 100%);

}
.cartao2{
  right: 400px;
  top: 150px;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
position: absolute;
opacity: 100%;
width: 250px;
height: 450px;
border-radius: 20px;
background: linear-gradient(90deg, rgb(189, 5, 235) 0%, rgba(9,9,121,1) 35%, rgb(30, 31, 31) 100%);
}
.cartao3{
  left: 700px;
  top: 150px;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
position: absolute;
opacity: 100%;
width: 250px;
height: 450px;
border-radius: 20px;
background: linear-gradient(90deg, rgb(189, 5, 235) 0%, rgba(9,9,121,1) 35%, rgb(30, 31, 31) 100%);
}
.container2{
height: 100%;
width: 1000px;
left: 150px;
top: 1200px ;
position: absolute;
align-items: center;

}



.container{

  height: 100%;
  width: 1000px;
  left: 100px;
  top: 700px ;
  position: absolute;
  align-items: center;


  
}
.TesteGG{
  background-color: #cb1fd1;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  box-shadow: none ;
  height: 70px;
  width: 200px;
  align-items: center;
  
  text-shadow: rgb(81, 17, 233) 10px ;

}
.marv img{
top: 1200px;
width: 100%;
height: 350px;
position: absolute; 
opacity: 30%;
border: 5px solid rgb(251, 251, 253);
border-radius: 5px;
box-shadow: 10px 20px rgb(231, 62, 62);
border: 5px solid rgb(251, 251, 253);
 background-color: rgb(150, 215, 255);
transition: 1s; 
font-size: 40px;
 cursor: pointer;
 

 

}
.marv img:hover{
 border: 11px solid rgb(66, 3, 71);
 background-color: rgb(152, 12, 180);
 transition: 1s;

}
.tes h6{
 background-color:  #e8f3f1;
 text-align: center;
 font-size: 45px;
 color: #000000;
 top: auto;
 opacity: 50%;
 position: absolute;

 

 

}
span .a {
right: 15px;
background-color: #00FFCB;
height: 50%;
width: 50%;
text-align: center;

}
strong .grat  {
background-color: azure;
opacity: 50%;
}
.tvimagem img{
align-items: center;
background-color: #00FFCB;
}
.radape{
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, rgb(189, 5, 235) 0%, rgba(9,9,121,1) 35%, rgb(30, 31, 31) 100%);
  color: #FFF;
  width: 100%;
  height: 100px;	
  text-align: center;
  line-height: 100px;
  top: 1900px;
  border-bottom-left-radius:20%;
  border-bottom-right-radius:100%;
  margin-top: 50px;
      border-top-left-radius:70%;
      border-top-right-radius:70%;
  
}

.btns{
  background-color: #cb1fd1;
  height: 30px;
  width: 50px;
  position: relative;
  left: 50px;
}

.objeto h2 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  box-shadow: none ;
  text-shadow: rgb(81, 17, 233) 10px ;
}
.imagem img{
  top: 150px;
  position: absolute;
  align-self: center;
  display: block;
}

.pipoca img{
width: 500px;
height: 300px;
left: 700px;
top: 100px;
 position: absolute;
 display: block;
 opacity: 100%;




}
#slider {
 width: 100%;
 height: 100%;
opacity: 80%;


}

#slider img{
 opacity: 0;

 position: absolute;

 width: 100%;
 height: 670px;

 object-fit: cover;

 transition: opacity 900ms;
}

#slider img.selected { 
 opacity: 2;
}

.what{
font-size: 15px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.benner img{
position: absolute;
top: 1700px;
border-radius: 10px;
height: 50%;
width: 100%;
}


.texto h2 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(237, 236, 240);
 position: absolute;
 top: 100px;
 left: 50px;
 font-size: 60px;
}
.teste{
 color: rgb(242, 11, 250);
 position: absolute;
 top: 75px;
 left: 50px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 30px;
}
.wrap {
 height: 100%;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 top: 10px;
 left: 50px;
}
.servico{
 color: azure;
 position: relative;
 font-size: 50px;
 align-items: center;
 text-align: center;
 float: left;
 width: 100%;
 height: 100px;



} 
div .TesteG{
  font-family: 'Nunito', sans-serif;
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: 1.3px;
 font-weight: 700;
 color: #0ec7c7;
 border-color: #000000;
}
span{
 width: 100%;
 height: 100%;
 font-family: 'Nunito', sans-serif;
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: 1.3px;
 font-weight: 700;
 color: #313133;

background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
 border: none;
 border-radius: 1000px;
 box-shadow: 12px 12px 24px rgba(79,209,197,.64);
 transition: all 0.3s ease-in-out 0s;
 cursor: pointer;
 outline: none;
 position: relative;
 padding: 10px;
}
span ::before{
 content: '';
 border-radius: 1000px;
 min-width: calc(300px + 12px);
 min-height: calc(60px + 12px);
 border: 6px solid #00FFCB;
 box-shadow: 0 0 60px rgba(0,255,203,.64);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 opacity: 0;
 transition: all .3s ease-in-out 0s;
}
.button {
 min-width: 300px;
 min-height: 60px;
 font-family: 'Nunito', sans-serif;
 font-size: 22px;
 text-transform: uppercase;
 letter-spacing: 1.3px;
 font-weight: 700;
 color: #313133;

background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
 border: none;
 border-radius: 1000px;
 box-shadow: 12px 12px 24px rgba(79,209,197,.64);
 transition: all 0.3s ease-in-out 0s;
 cursor: pointer;
 outline: none;
 position: relative;
 padding: 10px;
 }
 button::before {
     content: '';
       border-radius: 1000px;
       min-width: calc(300px + 12px);
       min-height: calc(60px + 12px);
       border: 6px solid #00FFCB;
       box-shadow: 0 0 60px rgba(0,255,203,.64);
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       opacity: 0;
       transition: all .3s ease-in-out 0s;
     }
     
     .button:hover, .button:focus {
       color: #313133;
       transform: translateY(-6px);
     }
     button:hover::before, button:focus::before {
         opacity: 1;
       }
       
       button::after {
         content: '';
         width: 30px; height: 30px;
         border-radius: 100%;
         border: 6px solid #00FFCB;
         position: absolute;
         z-index: -1;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         animation: ring 1.5s infinite;
       }
       
       button:hover::after, button:focus::after {
         animation: none;
         display: none;
       }
       
       @keyframes ring {
         0% {
           width: 30px;
           height: 30px;
           opacity: 1;
         }
         100% {
           width: 300px;
           height: 300px;
           opacity: 0;
         }
       }
      
       .material-symbols-outlined {
         font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 48
       }
       
       
       


       
